<div class="form-container">
  <mat-card>
    <form (ngSubmit)="onSub()" #f="ngForm">
      <div class="error" *ngIf="error | async">{{ error | async }}</div>
      <mat-form-field appearance="outline">
        <mat-label>title</mat-label>
        <input type="text" name="title" matInput required ngModel #title="ngModel">
        <mat-error *ngIf="title.touched && title.hasError('required')"
        >title is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>description</mat-label>
        <textarea
          name="description"
          required
          matInput
          ngModel
          #description="ngModel"
        >
        </textarea>
        <mat-error *ngIf="image?.touched && description.invalid"
        >description is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>image</mat-label>
        <app-file-input name="image" required ngModel #image="ngModel"></app-file-input>
        <mat-error *ngIf="description?.touched && image.invalid"
        >description is required!
        </mat-error>
      </mat-form-field>

      <button
        *ngIf="user"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >
        post
      </button>
    </form>
  </mat-card>
</div>
