<div class="container">
  <div class="error" *ngIf="error | async">{{ error | async }}</div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading | async else postArea"></mat-progress-bar>
  <ng-template #postArea>
    <div *ngFor="let pst of post | async"
         class="card"
    >
      <mat-card class="card">
        <div class="hed">
        <div *ngIf="pst.user.image">
          <img
            [src]="'http://localhost:8000/uploads/' + pst.user.image"
            [alt]="'Photo of' "
            mat-card-avatar
          />
        </div>
        <div *ngIf="!pst.user.image">
          <h3>no photo</h3>
        </div>
          <mat-card-title>
            <h1 class="title">by {{ pst.user.username }}</h1>
          </mat-card-title>
        <mat-card-subtitle class="sub">
          <h2>{{ pst.date }}</h2>
        </mat-card-subtitle>
        </div>
        <div class="bod">
        <a [routerLink]="[pst._id]">{{ pst.description }}</a>
        </div>

      </mat-card>
    </div>

  </ng-template>
</div>

